menu "sc57x platform type"
	depends on ARCH_SC57X

choice
	prompt "ADI sc57x Eval board"
	default MACH_SC573_EZKIT
	help
	  This select the sc57x eval board type.

config	MACH_SC573_EZKIT
	bool "ADI sc573 EZKIT board"
	select OF
	help
	  Say 'Y' here if you want your kernel to run on the ADI
	  SC573-EZKIT board.

endchoice

config ARCH_SC57X_SLAVECORE_COUNT
	int "Slave core count in sc57x"
	range 0 2
	default 2
	help
	This sets the slave core count in sc57x processor.


config ARCH_HEADER_IN_MACH
	bool
	default y
	help
	  Define the architecture specific head file path for
	  ADI genenric peripheral drivers.

endmenu
