/*
 * Copyright (c) 2021 Analog Devices Incorporated
 * Author: Nathan Barrett-Morrison <nathan.morrison@timesys.com>
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/net/ti-dp83867.h>
#include "sc59x-64.dtsi"

/ {
	model = "ADI 64-bit SC598 SOM EZ Kit";
	compatible = "adi,sc598-som-ezkit", "adi,sc59x-64";

	chosen {
		stdout-path = &uart1;
	};

	memory@C3000000 {
		device_type = "memory";
		reg = <0xC3000000 0xF000000>;
	};

	scb {
		sharc0: core1-rproc@0x28240000 {
			compatible = "adi,remoteproc";
			reg = <0x28240000 0x160000>,
					<0x20000000 0x200000>;
			core-id = <1>;
			core-irq = <74>; /* SOFT1 */
			firmware-name = "adi_adsp_core1_fw.ldr";
			interrupts = <GIC_SPI 165 IRQ_TYPE_EDGE_RISING>; /* TRU0_SLV3 */
			adi,rcu = <&rcu>;
			adi,l1-da = <0x240000 0x3a0000>;
			adi,l2-da = <0x20000000 0x20200000>;
			adi,resource-table-offset = <0x1000>;
			status = "okay";
		};

		sharc1: core2-rproc@0x28a40000 {
			compatible = "adi,remoteproc";
			reg = <0x28a40000 0x160000>,
					<0x20000000 0x200000>;
			core-id = <2>;
			core-irq = <75>; /* SOFT2 */
			firmware-name = "adi_adsp_core2_fw.ldr";
			interrupts = <GIC_SPI 165 IRQ_TYPE_EDGE_RISING>;
			adi,rcu = <&rcu>;
			adi,l1-da = <0x240000 0x3a0000>;
			adi,l2-da = <0x20000000 0x20200000>;
			adi,resource-table-offset = <0x1000>;
			status = "okay";
		};

	};

};

&thermal {
	status = "okay";
	adi,gain = <0x6>;
	adi,offset = <0x7D86>;
	adi,trip-alert = <60>;
	adi,trip-fault = <85>;
	/* adi,average; */
};

&uart0 {
	/* enable-pin = <&ssw0 5 GPIO_ACTIVE_LOW>;	 UART0_EN */
	/* hwflow-en-pin = <&ssw0 6 GPIO_ACTIVE_LOW>;  UART0_FLOW_EN */
	pinctrl-names = "default", "hwflow";
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_hwflow>;
	status = "okay";
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_default>;
	status = "disabled";

	spidev@9{
		compatible = "adi,generic-spidev";
		reg = <9>;  // SPI0_SSEL1 / GPIO_PA9
		spi-max-frequency = <4000000>;
	};
};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_default>;
	status = "disabled";

	spidev@13{
		compatible = "adi,generic-spidev";
		reg = <13>; // SPI1_SSEL1 / GPIO_PA13
		spi-max-frequency = <4000000>;
	};
};

/*
&spi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi2_default>;
	status = "disabled";

	spidev@5{
		compatible = "adi,generic-spidev";
		reg = <5>; // SPI2_SSEL1 / GPIO_PA5
		spi-max-frequency = <4000000>;
	};
};
*/

&spi3 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi3_default>;
	status = "disabled";

	spidev@111{
		compatible = "adi,generic-spidev";
		reg = <111>; // SPI3_SSEL5 / GPIO_PG15
		spi-max-frequency = <4000000>;
	};
};

&spi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi2_quad>;
	status = "okay";

	flash: is25lp512@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "is25lp512", "jedec,spi-nor";
		spi-max-frequency = <5000000>;
		reg = <5>;
		spi-cpol;
		spi-cpha;
		spi-rx-bus-width = <4>;

		partition@0 {
			label = "U-Boot";
			reg = <0x0 0x80000>;
		};

		partition@1 {
			label = "U-Boot Environment";
			reg = <0x80000 0x20000>;
		};

		partition@2 {
			label = "Device Tree Blob";
			reg = <0xA0000 0x20000>;
		};

		partition@3 {
			label = "Kernel zImage";
			reg = <0xC0000 0xF00000>;
		};

		partition@4 {
			label = "JFFS2 Formatted RFS";
			reg = <0xFC0000 0x3040000>;
		};

	};
};

&ospi {
	pinctrl-names = "default";
	pinctrl-0 = <&ospi_default>;

	status = "disabled";

	flash0: mx66lm1g45@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "mx66lm1g45";
		reg = <0>;
		spi-max-frequency = <112000000>;

		/*m25p,fast-read;*/

		cdns,page-size = <256>;
		cdns,block-size = <16>;
		cdns,read-delay = <4>;
		cdns,tshsl-ns = <50>;
		cdns,tsd2d-ns = <50>;
		cdns,tchsh-ns = <4>;
		cdns,tslch-ns = <4>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			ospi_0: partition@0 {
				label = "U-Boot";
				reg = <0x0 0x80000>;
			};

			ospi_1: partition@1 {
				label = "U-Boot Environment";
				reg = <0x80000 0x20000>;
			};

			ospi_2: partition@2 {
				label = "Device Tree Blob";
				reg = <0xA0000 0x20000>;
			};

			ospi_3: partition@3 {
				label = "Kernel zImage";
				reg = <0xC0000 0xF00000>;
			};

			ospi_4: partition@4 {
				label = "JFFS2 Formatted RFS";
				reg = <0xFC0000 0x3040000>;
			};
		};
	};
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "disabled";
};

&i2c2 {
	status = "okay";

	ssw0: gpio@0x20 {
		compatible = "microchip,mcp23018";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x20>;
		status = "okay";

		pinctrl-names = "default";
		pinctrl-0 = <&ssw0pullups>;

		ssw0pullups: pinmux {
			bias-pull-up;
			pins = "gpio0", "gpio1", "gpio2", "gpio3",
				"gpio4", "gpio5", "gpio6", "gpio7",
				"gpio8", "gpio9", "gpio10", "gpio11",
				"gpio12", "gpio13", "gpio14", "gpio15";
		};
	};

	ssw1: gpio@0x22 {
		compatible = "microchip,mcp23017";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x22>;
		status = "okay";
	};

};

&emac0 {
	snps,reset-active-low;
	snps,reset-delays-us = <0 200 500>;
	phy-handle = <&dp83867>;
	phy-mode = "rgmii-id";
//	pinctrl-names = "default";
//	pinctrl-0 = <&eth0_default>;
	status = "okay";
	mdio0 {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
		dp83867: ethernet-phy@0 {
			reg = <0>;
			ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
			ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
			ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_8_B_NIB>;
			ti,dp83867-rxctrl-strap-quirk;
		};
	};
};

&mmc0{
	pinctrl-names = "default";
	pinctrl-0 = <&mmc0_8bgrp>;
	bus-width = <8>;
	max-frequency = <50000000>;
	non-removable;
	status = "okay";
};
