/*
 * Copyright (c) 2021 Analog Devices Incorporated
 * Author: Nathan Barrett-Morrison <nathan.morrison@timesys.com>
 */

/dts-v1/;

#include "sc59x-64.dtsi"

/ {
	model = "ADI 64-bit SC598 SOM EZ Kit";
	compatible = "adi,sc598-som-ezkit", "adi,sc59x-64";

	chosen {
		stdout-path = &uart1;
	};

	memory@C3000000 {
		device_type = "memory";
		reg = <0xC3000000 0xF000000>;
	};

};

&uart0 {
	/* enable-pin = <&ssw0 5 GPIO_ACTIVE_LOW>;	 UART0_EN */
	/* hwflow-en-pin = <&ssw0 6 GPIO_ACTIVE_LOW>;  UART0_FLOW_EN */
	pinctrl-names = "default", "hwflow";
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_hwflow>;
	status = "okay";
};

&spi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi2_quad>;
	status = "okay";

	flash: is25lp512@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "is25lp512", "jedec,spi-nor";
		spi-max-frequency = <5000000>;
		reg = <5>;
		spi-cpol;
		spi-cpha;
		spi-rx-bus-width = <4>;

		partition@0 {
			label = "U-Boot";
			reg = <0x0 0x80000>;
		};

		partition@1 {
			label = "U-Boot Environment";
			reg = <0x80000 0x20000>;
		};

		partition@2 {
			label = "Device Tree Blob";
			reg = <0xA0000 0x20000>;
		};

		partition@3 {
			label = "Kernel zImage";
			reg = <0xC0000 0xF00000>;
		};

		partition@4 {
			label = "JFFS2 Formatted RFS";
			reg = <0xFC0000 0x3040000>;
		};

	};
};