/*
 * Device tree for ADI sc573-ezkit board
 *
 * Copyright 2014 - 2018 Analog Devices Inc.
 *
 * Licensed under the GPL-2 or later.
 *
 */

/dts-v1/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/net/ti-dp83867.h>
#include "sc57x.dtsi"

/ {
	model = "ADI sc573-ezkit";
	compatible = "adi,sc573-ezkit", "adi,sc57x";

	aliases {
		/* serial2 = &uart2; */
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0xF000000>;
	};

	scb {
		softconfig_default {
		};

		core1-rproc@0x3108C000 {
			compatible = "adi,remoteproc";
			reg = <0x3108C000 0x70>;
			core-id = <1>;
			core-irq = <84>;
			firmware-name = "SharcFW.ldr";
		};

		aw {
			compatible = "aw,aw9110b";
		};
	};
};

&uart0 {
	pinctrl-names = "default", "hwflow";
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_hwflow>;
	status = "okay";
};

&spi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi2_quad>;
	status = "okay";

	flash: mx25l25635e@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "Macronix,mx25l25635e";
		spi-max-frequency = <50000000>;
		reg = <31>;
		spi-cpol;
		spi-cpha;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		partition@0 {
			label = "uboot (spi)";
			reg = <0x0 0x80000>;
		};
		partition@1 {
			label = "kernel (spi)";
			reg = <0x80000 0x380000>;
		};
		partition@2 {
			label = "root file system (spi)";
			reg = <0x400000 0xc00000>;
		};
	};
};

&i2c0 {
	status = "okay";

	/* for Test board and 512 */
	ioex0: aw9110@0x5b {
		compatible = "awinic,aw9110";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x5b>;

		led0 {
			label = "led-g";
			led-gpios = <&ioex0 0 0>;
		};
		led1 {
			label = "led-b";
			led-gpios = <&ioex0 1 0>;
		};
		led2 {
			label = "led-r";
			led-gpios = <&ioex0 2 0>;
		};
	};
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2s0 {
	status = "okay";
};

&crc0 {
	status = "okay";
};

&crc1 {
	status = "okay";
};

&emac0 {
	phy-handle = <&adin1300>;
	phy-mode = "rgmii-id";
	status = "okay";
	mdio0 {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
		adin1300: ethernet-phy@0 {
			compatible = "ethernet-phy-id0283.bc30", "ethernet-phy-ieee802.3-c22";
			reg = <0>;
			adi,rx-internal-delay-ps = <1800>;
			adi,tx-internal-delay-ps = <2200>;
		};
	};
};

&icc0 {
	status = "okay";
};

&sram_mmap {
	status = "okay";
};
