/*
 * Device tree for ADI sc573-ezkit board
 *
 * Copyright 2014 - 2018 Analog Devices Inc.
 *
 * Licensed under the GPL-2 or later.
 *
 * todo list:
 * - bushbutton GPIOs are all incorrect and commented out for now
 */

/dts-v1/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/adi-adsp.h>
#include <dt-bindings/pinctrl/adi-adsp-sru.h>
#include "sc57x.dtsi"

/ {
	model = "ADI sc573-ezkit";
	compatible = "adi,sc573-ezkit", "adi,sc57x";

	aliases {
		/* serial2 = &uart2; */
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0xF000000>;
	};

	scb {
		core1-rproc@0x3108C000 {
			compatible = "adi,remoteproc";
			reg = <0x28240000 0x2000>,
			      <0x20000000 0x200000>;
			core-id = <1>;
			core-irq = <84>;
			u-boot,load = <1>;
			firmware-name = "SharcFW.ldr";
			interrupts = <GIC_SPI 206 IRQ_TYPE_EDGE_RISING>;
			adi,rcu = <&rcu>;
			adi,l1-da = <0x240000 0x3a0000>;
			adi,l2-da = <0x20080000 0x200C0000>;
			adi,tru = <&tru>;
			adi,tru-master-id = <71>; /* trigger master SOFT4 */
		};
	};

	gpio-keys {
			compatible = "gpio-keys";
			autorepeat;

			button0 {
				label = "reset";
				linux,code = <0x100>; /* BTN_0. see linux-event-codes.h*/
				gpios = <&gpa 3 GPIO_ACTIVE_LOW>;
				debounce-interval = <15>;
			};
	};
};

&tru {
	mcapi_to_a5: channel@0 {
		adi,tru-master-id = <70>; /* trigger master SOFT3 */
		adi,tru-slave-id = <71>; /* TRU0_IRQ3 */
	};
	mcapi_to_sharc0: channel@1 {
		adi,tru-master-id = <71>; /* trigger master SOFT4 */
		adi,tru-slave-id = <75>; /* TRU0_IRQ7 */
	};
	mcapi_to_sharc1: channel@2 {
		adi,tru-master-id = <72>; /* trigger master SOFT5 */
		adi,tru-slave-id = <79>; /* TRU0_IRQ11 */
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_default>;
	status = "okay";
};

&spi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi2_quad>;
	status = "okay";
	cs-gpios = <&gpb 15 GPIO_ACTIVE_LOW>, <&gpc 0 GPIO_ACTIVE_LOW>;

	nand: mx35lf1ge4ab@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-nand";
		spi-max-frequency = <50000000>;
		reg = <1>;
		spi-cpol;
		spi-cpha;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <4>;
		adi,enable-dma;
		partition@0 {
			label = "kernel";
			reg = <0x0 0x400000>;
		};
		partition@1 {
			label = "rootfs";
			reg = <0x400000 0x3C00000>;
		};
		partition@2 {
			label = "data";
			reg = <0x4000000 0x4000000>;
		};
	};
	nor: mx66l51235l@1 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		spi-max-frequency = <50000000>;
		reg = <0>;
		spi-cpol;
		spi-cpha;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <4>;
		adi,enable-dma;
		partition@0 {
			label = "spl";
			reg = <0x0 0x20000>;
		};
		partition@1 {
			label = "u-boot";
			reg = <0x20000 0xC0000>;
		};
		partition@2 {
			label = "env";
			reg = <0xE0000 0x20000>;
		};
		partition@3 {
			label = "back";
			reg = <0x100000 0x100000>;
		};
		partition@4 {
			label = "nor-fs";
			reg = <0x200000 0x600000>;
		};
	};
};

&i2c0 {
	status = "okay";

	ioex0: aw9110@0x5b {
		compatible = "awinic,aw9110";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x5b>;

		led0 {
			label = "led-r";
			led-gpios = <&ioex0 0 0>;
			brightness = <0>;
		};
		led1 {
			label = "led-g";
			led-gpios = <&ioex0 1 0>;
			brightness = <0>;
		};
		led2 {
			label = "led-b";
			led-gpios = <&ioex0 2 0>;
			brightness = <0>;
		};
	};
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&sport_cluster0 {
	status = "disabled";
};

&crc0 {
	status = "okay";
};

&crc1 {
	status = "okay";
};

&emac0 {
	phy-handle = <&adin1300>;
	phy-mode = "rgmii-id";
	status = "okay";
	mdio0 {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
		adin1300: ethernet-phy@0 {
			compatible = "ethernet-phy-id0283.bc30", "ethernet-phy-ieee802.3-c22";
			reg = <0>;
			adi,rx-internal-delay-ps = <1800>;
			adi,tx-internal-delay-ps = <2200>;
		};
	};
};

&icc0 {
	status = "okay";
};

&sram_mmap {
	status = "okay";
};

&pinctrl0 {
	uart0_default: uart0_default_pins {
		pins {
			pinmux = <ADI_ADSP_PINMUX('F', 8, ADI_ADSP_PINFUNC_ALT0)>,
			         <ADI_ADSP_PINMUX('F', 9, ADI_ADSP_PINFUNC_ALT0)>;
		};
	};

	eth0_default: eth0_default_pins {
		pins {
			pinmux = <ADI_ADSP_PINMUX('B', 7, ADI_ADSP_PINFUNC_ALT0)>,
			         <ADI_ADSP_PINMUX('B', 8, ADI_ADSP_PINFUNC_ALT0)>,
			         <ADI_ADSP_PINMUX('B', 6, ADI_ADSP_PINFUNC_ALT0)>,
			         <ADI_ADSP_PINMUX('B', 5, ADI_ADSP_PINFUNC_ALT0)>,
			         <ADI_ADSP_PINMUX('A', 13, ADI_ADSP_PINFUNC_ALT0)>,
			         <ADI_ADSP_PINMUX('A', 12, ADI_ADSP_PINFUNC_ALT0)>,
			         <ADI_ADSP_PINMUX('A', 14, ADI_ADSP_PINFUNC_ALT0)>,
			         <ADI_ADSP_PINMUX('A', 15, ADI_ADSP_PINFUNC_ALT0)>,
			         <ADI_ADSP_PINMUX('B', 9, ADI_ADSP_PINFUNC_ALT0)>,
			         <ADI_ADSP_PINMUX('B', 4, ADI_ADSP_PINFUNC_ALT0)>,
			         <ADI_ADSP_PINMUX('B', 0, ADI_ADSP_PINFUNC_ALT0)>,
			         <ADI_ADSP_PINMUX('B', 2, ADI_ADSP_PINFUNC_ALT0)>,
			         <ADI_ADSP_PINMUX('A', 10, ADI_ADSP_PINFUNC_ALT0)>,
			         <ADI_ADSP_PINMUX('A', 11, ADI_ADSP_PINFUNC_ALT0)>;
		};
	};

	spi2_quad: spi2_quad_pins {
		pins {
			pinmux = <ADI_ADSP_PINMUX('B', 14, ADI_ADSP_PINFUNC_ALT0)>,
			         <ADI_ADSP_PINMUX('B', 10, ADI_ADSP_PINFUNC_ALT0)>,
			         <ADI_ADSP_PINMUX('B', 11, ADI_ADSP_PINFUNC_ALT0)>,
			         <ADI_ADSP_PINMUX('B', 12, ADI_ADSP_PINFUNC_ALT0)>,
			         <ADI_ADSP_PINMUX('B', 13, ADI_ADSP_PINFUNC_ALT0)>;
		};
	};
};

