/*
 * Device tree for ADI sc589-mini board
 *
 * Copyright 2014 - 2018 Analog Devices Inc.
 *
 * Licensed under the GPL-2 or later.
 *
 */

/dts-v1/;

#include <dt-bindings/net/ti-dp83867.h>
#include "sc58x.dtsi"

/ {
	model = "ADI sc589-mini";
	compatible = "adi,sc589-mini", "adi,sc58x";

	aliases {
	};

	memory@C3000000 {
		device_type = "memory";
		reg = <0xC3000000 0xF000000>;
	};

	scb {

		button0: button@0 {
			compatible = "adi,button-led";
			button_gpio = <80>;
			led_gpio = <49>;
		};
		button1: button@1 {
			compatible = "adi,button-led";
			button_gpio = <81>;
			led_gpio = <50>;
		};
	};
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_default>;
	status = "okay";

	spidev {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <5000000>;
		reg = <44>;
	};
};

&spi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi2_quad>;
	status = "okay";

	flash: mt25ql512@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "micron,mt25ql512", "jedec,spi-nor";
		spi-max-frequency = <5000000>;
		reg = <38>;

		partition@0 {
			label = "uboot (spi)";
			reg = <0x0 0x80000>;
		};
		partition@1 {
			label = "kernel (spi)";
			reg = <0x80000 0x580000>;
		};
		partition@2 {
			label = "root file system (spi)";
			reg = <0x600000 0x3a00000>;
		};
	};
};

&uart0 {
	pinctrl-names = "default", "hwflow";
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_hwflow>;
	status = "okay";
};

&crc0 {
	status = "okay";
};

&crc1 {
	status = "okay";
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&emac0 {
	snps,reset-gpio = <&gpb 7 0>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 10000 1000000>;
	phy-handle = <&dp83867>;
	phy-mode = "rgmii-id";
	pinctrl-names = "default";
	pinctrl-0 = <&eth0_default>;
	status = "okay";
	mdio0 {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
		dp83867: ethernet-phy@0 {
			reg = <0>;
			ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
			ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
			ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_8_B_NIB>;
			ti,dp83867-rxctrl-strap-quirk;
		};
	};
};

&usb0_phy {
	status = "okay";
};

&usb0 {
	mode = <3>; /* OTG port */
	status = "okay";
};

&usb1_phy {
	status = "okay";
};

&usb1 {
	mode = <1>; /* Host port */
	status = "okay";
};

&mmc0 {
	bus-width = <4>;
	pinctrl-names = "default";
	pinctrl-0 = <&mmc0_4bgrp>;
	supports-highspeed;
	status = "okay";
};
