/*
 * Device tree for ADI sc584-ezkit board
 *
 * Copyright 2014 - 2018 Analog Devices Inc.
 *
 * Licensed under the GPL-2 or later.
 *
 */

/dts-v1/;

#include "sc58x.dtsi"

/ {
	model = "ADI sc584-ezkit";
	compatible = "adi,sc584-ezkit", "adi,sc58x";

	aliases {
	};

	memory@89000000 {
		device_type = "memory";
		reg = <0x89000000 0x7000000>;
	};

	scb {

		button0: button@0 {
			compatible = "adi,button-led";
			button_gpio = <15>;
			led_gpio = <65>;
		};
		button1: button@1 {
			compatible = "adi,button-led";
			button_gpio = <16>;
			led_gpio = <66>;
		};
		button2: button@2 {
			compatible = "adi,button-led";
			button_gpio = <47>;
			led_gpio = <67>;
		};

		sound {
			compatible = "sc5xx,asoc-card";
			adi,cpu-dai = <&i2s0>;
			adi,codec = <&adau1962>, <&adau1979>;
		};
	};
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_default>;
	status = "okay";

	spidev {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <5000000>;
		reg = <44>;
	};
};

&i2c0 {
	status = "okay";
	ssw0: gpio@0x21 {
		compatible = "microchip,mcp23017";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x21>;
	};
	ssw1: gpio@0x22 {
		compatible = "microchip,mcp23017";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x22>;
	};
	adau1979: adau1979@0x11 {
		compatible = "adi,adau1977";
		reg = <0x11>;
		reset-gpio = <&gpa 14 0>;
	};
	adau1962: adau1962@0x4 {
		compatible = "adi,adau1962";
		reg = <0x4>;
		reset-gpio = <&gpa 14 0>;
	};
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2s0 {
	status = "okay";
};

&emac0 {
	snps,reset-gpio = <&gpb 14 0>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 200 500>;
	phy-mode = "rgmii";
	pinctrl-names = "default";
	pinctrl-0 = <&eth0_default>;
	status = "okay";
};

&usb0_phy {
	status = "okay";
};

&usb0 {
	mode = <3>; /* OTG port */
	status = "okay";
};
