/*
 * Device tree for ADI sc584-ezkit board
 *
 * Copyright 2014 - 2018 Analog Devices Inc.
 *
 * Licensed under the GPL-2 or later.
 *
 */

/dts-v1/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include "sc58x.dtsi"

/ {
	model = "ADI sc584-ezkit";
	compatible = "adi,sc584-ezkit", "adi,sc58x";

	aliases {
	};

	memory@89000000 {
		device_type = "memory";
		reg = <0x89000000 0x7000000>;
	};

	scb {
		softconfig_default {
			boot-pins = <&ssw0 0 GPIO_ACTIVE_LOW>,	/* EEPROM_EN */
			            <&ssw0 1 GPIO_ACTIVE_LOW>,	/* UART0_FLOW_EN */
			            /* should enable UART0_EN by default in bootloader */
			            <&ssw0 3 GPIO_ACTIVE_LOW>,	/* ETH0_EN */
			            <&ssw0 4 GPIO_ACTIVE_LOW>,	/* ETH1_EN */
			            <&ssw0 5 GPIO_ACTIVE_LOW>,	/* MLB3_EN */
			            <&ssw0 6 GPIO_ACTIVE_LOW>,	/* CAN0_EN */
			            <&ssw0 7 GPIO_ACTIVE_LOW>,	/* CAN1_EN */
			            <&ssw0 8 GPIO_ACTIVE_LOW>,	/* ADAU1962_EN */
			            <&ssw0 9 GPIO_ACTIVE_LOW>,	/* ADAU1979_EN */
			            <&ssw0 12 GPIO_ACTIVE_LOW>,	/* SP2IFLASH_CS_EN */
			            <&ssw0 13 GPIO_ACTIVE_LOW>,	/* SPI2D2_D3_EN */
			            <&ssw0 14 GPIO_ACTIVE_LOW>,	/* SPDIF_OPTICAL_EN */
			            <&ssw0 15 GPIO_ACTIVE_LOW>,	/* SPDIF_DIGITAL_EN */
			            <&ssw1 0 GPIO_ACTIVE_LOW>,	/* PUSHBUTTON3_EN */
			            <&ssw1 1 GPIO_ACTIVE_LOW>,	/* PUSHBUTTON2_EN */
			            <&ssw1 2 GPIO_ACTIVE_LOW>,	/* PUSHBUTTON1_EN */
			            <&ssw1 3 GPIO_ACTIVE_LOW>,	/* LEDS_EN */
			            <&ssw1 4 GPIO_ACTIVE_LOW>,	/* FLG0_LOOP */
			            <&ssw1 5 GPIO_ACTIVE_LOW>,	/* FLG1_LOOP */
			            <&ssw1 6 GPIO_ACTIVE_LOW>,	/* FLG2_LOOP */
			            <&ssw1 7 GPIO_ACTIVE_LOW>,	/* FLG3_LOOP */
			            <&ssw1 8 GPIO_ACTIVE_LOW>,	/* AUAU1977_EN */
			            <&ssw1 9 GPIO_ACTIVE_LOW>,	/* ADAU1977_FAULT_RST_EN */
			            <&ssw1 10 GPIO_ACTIVE_LOW>,	/* THUMBWHEEL_OE */
			            <&ssw1 11 GPIO_ACTIVE_LOW>;	/* ENGINE_RPM_OE */
			reboot-pins = <&ssw0 12 GPIO_ACTIVE_LOW>, /* SP2IFLASH_CS_EN */
			              <&ssw0 13 GPIO_ACTIVE_LOW>; /* SPI2D2_D3_EN */
		};

		button0: button@0 {
			compatible = "adi,button-led";
			en-pins = <&ssw1 2 GPIO_ACTIVE_LOW>,	/* PUSHBUTTON1_EN */
			          <&ssw1 3 GPIO_ACTIVE_LOW>;	/* LEDS_EN */
			button_gpio = <15>;
			led_gpio = <65>;
		};
		button1: button@1 {
			compatible = "adi,button-led";
			en-pins = <&ssw1 1 GPIO_ACTIVE_LOW>,	/* PUSHBUTTON2_EN */
			          <&ssw1 3 GPIO_ACTIVE_LOW>;	/* LEDS_EN */
			button_gpio = <16>;
			led_gpio = <66>;
		};
		button2: button@2 {
			compatible = "adi,button-led";
			en-pins = <&ssw1 0 GPIO_ACTIVE_LOW>,	/* PUSHBUTTON3_EN */
			          <&ssw1 3 GPIO_ACTIVE_LOW>;	/* LEDS_EN */
			button_gpio = <47>;
			led_gpio = <67>;
		};

		core1-rproc@0x3108b000 {
			compatible = "adi,remoteproc";
			reg = <0x3108b000 0x70>;
			core-id = <1>;
			core-irq = <76>;
			firmware-name = "adi_adsp_core1_fw.ldr";
		};

		core2-rproc@0x3108b000 {
			compatible = "adi,remoteproc";
			reg = <0x3108b000 0x70>;
			core-id = <2>;
			core-irq = <77>;
			firmware-name = "adi_adsp_core2_fw.ldr";
		};

		sound {
			compatible = "sc5xx,asoc-card";
			adi,cpu-dai = <&i2s0>;
			adi,codec = <&adau1962>, <&adau1979>;
		};

		lcd@0 {
			compatible = "sc58x,lcd";
			reg = <0x31040000 0xFF>;
			interrupts = <GIC_SPI 83 IRQ_TYPE_LEVEL_HIGH>;
			dma-channel = <28>;
			cs-gpio = <39>;
			spu_securep_id = <95>;
			pinctrl-names = "default","ppi_16b","ppi_24b";
			pinctrl-0 = <&ppi0_8b>;
			pinctrl-1 = <&ppi0_16b>;
			pinctrl-2 = <&ppi0_24b>;
		};
	};
};

&uart0 {
	enable-pin = <&ssw0 2 GPIO_ACTIVE_LOW>;		/* UART0_EN */
	hwflow-en-pin = <&ssw0 1 GPIO_ACTIVE_LOW>;	/* UART0_FLOW_EN */
	pinctrl-names = "default", "hwflow";
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_hwflow>;
	status = "okay";
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_default>;
	status = "okay";

	spidev {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <5000000>;
		reg = <44>;
	};

	ad7879_touchscreen {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "adi,ad7879";
		spi-max-frequency = <5000000>;
		reg = <32>;
		gpio = <49>;
		gpio-controller;
		spi-cpha;
		spi-cpol;
		touchscreen-max-pressure = <10000>;
		adi,resistance-plate-x = <620>;
		adi,first-conversion-delay = /bits/ 8 <3>;
		adi,acquisition-time = /bits/ 8 <1>;
		adi,median-filter-size = /bits/ 8 <2>;
		adi,averaging = /bits/ 8 <1>;
		adi,conversion-interval = /bits/ 8 <255>;
	};
};

&spi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi2_quad>;
	status = "okay";

	flash: w25q32@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "winbond,w25q32";
		en-pins = <&ssw0 12 GPIO_ACTIVE_LOW>,	/* SP2IFLASH_CS_EN */
		          <&ssw0 13 GPIO_ACTIVE_LOW>;	/* SPI2D2_D3_EN */
		spi-max-frequency = <5000000>;
		reg = <38>;
		spi-cpol;
		spi-cpha;
		spi-rx-bus-width = <4>;
		dma-mode;

		partition@0 {
			label = "uboot (spi)";
			reg = <0x0 0x80000>;
		};
		partition@1 {
			label = "kernel (spi)";
			reg = <0x80000 0x580000>;
		};
		partition@2 {
			label = "root file system (spi)";
			reg = <0x600000 0xa00000>;
		};
	};
};

&i2c0 {
	status = "okay";
	ssw0: gpio@0x21 {
		compatible = "microchip,mcp23017";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x21>;
	};
	ssw1: gpio@0x22 {
		compatible = "microchip,mcp23017";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x22>;
	};
	adau1979: adau1979@0x11 {
		compatible = "adi,adau1977";
		reg = <0x11>;
		enable-pin = <&ssw0 9 GPIO_ACTIVE_LOW>;	/* ADAU1979_EN */
		reset-gpio = <&gpa 14 0>;
	};
	adau1962: adau1962@0x4 {
		compatible = "adi,adau1962";
		reg = <0x4>;
		enable-pin = <&ssw0 8 GPIO_ACTIVE_LOW>;	/* ADAU1962_EN */
		reset-gpio = <&gpa 14 0>;
	};
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2s0 {
	reg = <0x31002400 0x80>, <0x31002480 0x80>;
	interrupts = <GIC_SPI 61 IRQ_TYPE_LEVEL_HIGH>,
			<GIC_SPI 63 IRQ_TYPE_LEVEL_HIGH>;
	dma-channel = <10>, <11>;
	status = "okay";
};

&crc0 {
	status = "okay";
};

&crc1 {
	status = "okay";
};

&can0 {
	enable-pin = <&ssw0 6 GPIO_ACTIVE_LOW>;	/* CAN0_EN */
	pinctrl-names = "default";
	pinctrl-0 = <&can0_default>;
	phy-name = "tja1055";
	phy-gpios = <&gpb 8 0>,		/* en PB8 */
		    <&gpb 2 0x1>;	/* stb PB2, GPIO_ACTIVE_LOW */
	status = "okay";
};

&can1 {
	enable-pin = <&ssw0 7 GPIO_ACTIVE_LOW>;	/* CAN1_EN */
	pinctrl-names = "default";
	pinctrl-0 = <&can1_default>;
	phy-name = "tja1145";
	phy-spibus = /bits/ 16 <0>;
	phy-spiclk = <1000000>;
	phy-spics = /bits/ 16 <44>;	/* GPIO_PC12 */
	status = "okay";
};

&emac0 {
	enable-pin = <&ssw0 3 GPIO_ACTIVE_LOW>;	/* ETH0_EN */
	snps,reset-gpio = <&gpb 14 0>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 200 500>;
	phy-mode = "rgmii";
	pinctrl-names = "default";
	pinctrl-0 = <&eth0_default>;
	status = "okay";
};

&usb0_phy {
	status = "okay";
};

&usb0 {
	mode = <3>; /* OTG port */
	status = "okay";
};

&icc0 {
	status = "okay";
};

&gp_counter {
	pinctrl-names = "default";
	pinctrl-0 = <&cnt0_default>;
	enable-pin = <&ssw1 10 GPIO_ACTIVE_LOW>;
	status = "okay";
	rotary_abs_code = <ABS_WHEEL>;		/* ABS_WHEEL */
	rotary_button_key = <KEY_ENTER>;	/* KEY_ENTER */
	debounce = /bits/ 16 <10>;			/* Debounce Prescale 0-17 */
	debounce_en = /bits/ 16 <1>;		/* Debounce Enable */
	cnt_mode = /bits/ 16 <QUAD_ENC>;	/* Counter Operating Mode: QUADENC */
	boundary_mode = /bits/ 16 <BD_COMP>;/* Boundary Register Mod: COMP */
	boundary_ranges =  <(-256) 256>;	/* Boundary upper/lower ranges */
	czm_zero_cnt_en = /bits/ 16 <1>;	/* CZM Pin Zeroes Counter Enable */
	invert_czm = /bits/ 16 <1>;			/* Default value of CZM Pin Polarity */
	invert_cud = /bits/ 16 <0>;			/* Default value of CUD Pin Polarity */
	invert_cdg = /bits/ 16 <0>;			/* Default value of CDG Pin Polarity */
};

&lp0 {
	pinctrl-names = "default";
	pinctrl-0 = <&lp0_default>;
	status = "okay";
};

&lp1 {
	pinctrl-names = "default";
	pinctrl-0 = <&lp1_default>;
	status = "okay";
};

&sram_mmap {
	status = "okay";
};
