menu "IO expander drivers"

config IOEX_AW9110
	tristate "awinic I2C IO expander aw9110"
	select NEW_LEDS
	select LEDS_CLASS
	select LEDS_TRIGGERS
	select REGMAP_I2C
	default y
	help
	  if you say yes here you can get support for awinic
	  aw9110b or aw9110c I2C device.

endmenu
